.myBackground{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.myIndexHeight{
    height: 40rem;
}

.myHeight{
    height: 40rem;
}

.myServicesBackground{
    background-image: url("../img/servicios/services_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.myServicesImgWidth{
    width: 30rem;
}

.myColor{
    color: #2B79E6;
}

.mySecondHeight{
    height: 39rem;
}


.myMove{
    transition: all 500ms ease;
}

.my-position{
    left: 31rem;
    top: 10rem;
}

.myLoadingLogo{
    animation-name: opacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: rgb(125 211 252);
    display: block;
    margin-top: 5px;
    border-radius: 15px;
}

.percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2B79E6;
    border-radius: 15px;
}

.myContactMapsDiv{
    height: 36rem;
}

.myContactIcons{
    left: 8.5rem;
}

.myFooterBackground{
    background-image: url("../img/footer_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.myFooterBg{
    background-color: #002145;
}

@keyframes opacity {
    0% {
        /*opacity: 0;*/
        transform: rotate(0deg);
    }
    100% {
        /*opacity: 1;*/
        transform: rotate(360deg);
    }
}

@media (max-width: 450px){
    .myHeight{
        height: 20rem;
    }

    .mySecondHeight{
        height: max-content;
    }

    .myContactIcons{
        left: 7.3rem;
    }

    .myContactMapsDiv{
        height: 20rem;
    }

    .myFooterLogo{
        width: 18.5rem;
    }
}

@media (max-width: 320px){
    .myContactIcons{
        left: 4.5rem;
    }

    .myFooterLogo{
        width: 16.3rem;
    }
}


@media (max-width: 280px){
    .myContactIcons{
        left: 3.3rem;
    }
}
