.myBackground{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.myHeight{
    height: 40rem;
}

.mySecondHeight{
    height: 50rem;
}

.myMove{
    transition: all 500ms ease;
}

@media (max-width: 450px){
    .mySecondHeight{
        height: max-content;
    }
}
